.sidebar{
	position: fixed;
	width: 20%;
	color: white;
	display: inline-block;
	height: 100%;
	padding-left: 20px;
}

.page{
	width: 78%;
	margin-left: 22%;
	display: inline-block;
	height: 100%;
	padding-bottom: 200px;
}

.main-nav{
	background-color: black;
	margin-right: 20px;
}

.main-nav a.item{
	width: 100%;
	line-height: 25px;
    height: 25px;
	display: block;
	font-size: 15px;
	text-align: left;
	color: inherit;
	padding-left: 10px;
	transition-duration: .3s;
}

.main-nav .count{
	display: block;
	position: absolute;
	left: auto;
	top: auto;
	width: 75%;
	text-align: right;
}

.main-nav a.item:hover{
	background-color: #424242;
}

.form-group label .material-icons{
	position: relative;
    top: 7px;
}

.keyword-item{
	background-color: #424242;
	-webkit-border-radius: 15px;
	        border-radius: 15px;
	color: white;
	display: inline-block;
	padding: 6px 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.keyword-item .material-icons{
	position: relative;
    top: 2px;
    font-size: 12px;
    cursor: pointer;
}

.upload-theme-btn,
.next-step-btn{
	position: absolute;
    left: 50%;
    width: 160px;
    margin-left: -80px;
}

.next-step-btn{
	width: 200px;
	position: relative;
}

#addMeta{
	display: none;
}

.total.right{
	margin-right: 20px;
}

.nav-container,
.cards-container{
	width: 98%;
}

.cards-container{
	vertical-align: top;
}

.cards-container .col{
	display: inline-block;
}

.nav-container .search{
	margin-right: 20px;
	width: 200px;
}

.nav-container .search input:focus{
	border-color: white !important;
}

.update-btn{
	margin-top: 15px;
}

.add-new-theme{
	position: fixed;
	left: 100%;
	top: 100%;
	margin: -100px 0 0 -100px;
	
}

.drag-and-upload{
	width: 100%;
    height: 250px;
    text-align: center;
    line-height: 250px;
    background-color: #eeeeee;
}

.drag-and-upload .material-icons{
	font-size: 150px;
	color: #bdbdbd;
	transition-duration: .4s;
	cursor: pointer;
}

.drag-and-upload.hover .material-icons{
	color: #c62828;
}

.drag-and-upload .file-field{
	display: none;
}

img.thumbnail-item {
	width: inherit;
	height: auto;
}

.thumb-wrap{
	display: inline-block;
	width: 200px;
    height: auto;
    margin-right: 3px;
}

.remove-uploaded-img{
	position: absolute;
	margin: 10px 0 0 166px;
	color: white;
	background-color: grey;
	cursor: pointer;
}

.zip-icon .material-icons{
	font-size: 50px;
	display: none;
}

/*.send-and-upload{
	display: none;
}*/

#uploadTheme{
	display: none;
}

.preloader-container{
	width: 100%;
    text-align: center;
    display: none;
}

#uploadTheme .preloader-container{
	text-align: left;
}

.page-title{
	padding-top: 20px;
	padding-bottom: 20px;
}

#demo{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 100;
	background: white;
	top: 0;
	left: 0;
	margin: 0;
	display: none;
}

.demo-iframe{
	width: 75vw;
    height: 100vh;
	border: 0;
}

.top-nav{
	position: relative;
    left: -20px;
}

#demo .thumbs-container .thumb{
	width: 100%;
	height: auto;
}

#demo .description{
	margin-top: 20px;
}

#demo .thumb{
	margin-top: 20px;
}

.demo-info{
	background-color: #eee;
}

.demo-iframe-container{
	padding: 0;
}

.big-preloader{
	position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    background-color: rgba(255,255,255,1);
    display: none; 
    z-index: 50;
    padding-top: 25px;
    margin-top: -50px;
    box-shadow: 1px 1px 4px black;
}

.notification-container{
	text-align: center;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .7);
	top: 0;
	left: 0;
	z-index: 10000;
	display: none;
}

.notification{
	display: inline-block;
	position: relative;
	top: 50px;
	width: 300px;
}

.order-menu li{
	margin-bottom: 10px;
}

.adaptive-visible{
	display: none;
}

.adaptive-hidden{
	display: block;
}

.open-menu, .close-menu{
	font-size: 40px;
	display: block;
	position: fixed;
	color: black;
	left: 8px;
    top: 7px;
    cursor: pointer;
}

.open-menu i, .close-menu i{
	font-size: inherit;
}

.close-menu{
	position: static;
	margin: 10px 0 -12px -7px;
	color: white;
	display: none;
}

.menu-opened{
	display: inline-block !important;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	z-index: 100;
}

#demo .mobile-nav{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #eee;
}

#demo .mobile-nav .title {
    width: 100%;
    position: absolute;
    text-align: center;
    top: -1px;
    font-size: 20px;
}

.result-message-container{
	font-weight: normal;
	width: 100%;
	text-align: center;
	opacity: .5;
	display: none;
}

.close-search{
	position: absolute;
	top: auto;
	left: auto;
	color: white;
	margin: -76px 0px 0px 176px;
	display: none;
	cursor: pointer;
}

.close-search i{
	font-size: inherit;
}

@media (max-width: 992px){
	.adaptive-visible{
		display: block;
	}

	.adaptive-hidden{
		display: none;
	}	

	.nav-container .search{
		margin-right: 5%;
		width: 90%;
	}

	.page {
	    width: 90%;
	    margin-left: 60px;
	}

	.main-nav .count {
	    width: 90%;
	}

	#demo .demo-iframe-container {
	    position: relative;
	    top: 36px;
	    width: 100%;
	    max-width: 100%;
	}

	#demo .demo-iframe{
		width: 100vw;
	}

	.close-search{
	    left: 100%;
	    margin: -76px 0px 0px -64px;
	}
}

@media (max-width: 700px){
	.main-nav .count {
	    width: 85%;
	}
}

@media (max-width: 500px){
	.main-nav .count {
	    width: 80%;
	}
}

@media (max-width: 400px){
	.main-nav .count {
	    width: 80%;
	}
}

.updateDataOnServ{
	display: none;
}

